<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410337708306-qb6s3ftd56dpoh5ikf1jtenluagvjdsh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410337708306-qb6s3ftd56dpoh5ikf1jtenluagvjdsh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>410337708306-lf1sp7j3slt8n0tb60bm1a4h4p3c1tns.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCktJBXuclM8TSnA8ap-KOsygoDE8ehtGY</string>
	<key>GCM_SENDER_ID</key>
	<string>410337708306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zw.co.malvernbright.resumeCreator</string>
	<key>PROJECT_ID</key>
	<string>bs-resume-creator</string>
	<key>STORAGE_BUCKET</key>
	<string>bs-resume-creator.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410337708306:ios:63ab0ff4a7fc816e6c8bcb</string>
</dict>
</plist>